python-dotenv==1.0.0
packaging==23.2
bcrypt==4.1.2
twilio==9.0.0
openai==1.13.3
langchain==0.1.10
langchain-community==0.0.25
langchain-core==0.1.28
langchain-openai==0.0.8
langchain-mongodb==0.1.1
chainlit==1.0.100
tiktoken==0.5.2
pytz==2023.4
python-dateutil==2.8.2
tqdm==4.66.1
pymongo==4.7.0
# motor[srv]==3.3.2
googlemaps==4.10.0
beautifulsoup4==4.12.3
